{% extends 'interface/base.html' %}
{% load static %}
{% block content %}

<br>
<link rel='stylesheet' href="{% static 'css/interventions.css' %}">
<h3>Create a new intervention</h3>
<p>Lets you create an intervention policy for specific durations with varying compliance of agents in the simulator. For more information on the steps to create a custom intervention click the <strong>instructions</strong> button.<br>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-default"
  data-mdb-toggle="modal"
  data-mdb-target="#instructions"
>
 instructions
</button>
</p>
<hr>
<!-- Modal -->
<div
  class="modal fade"
  id="instructions"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Steps to create a custom intervention</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
          <ul>
              <li>Give a name to the intervention to be created</li>
              <li>Click on the Add Intervention button.</li>
              <li> Enter the following parameters<br>
                  <ol>
                      <li><strong>Intervention</strong>: Select a single intervention or a combination of
                          interventions through the multiselect option(click one option and drag to select
                          multiple options).</li>
                      <li><strong>Duration of intervention</strong>: Enter the number of days the intervention
                          is imposed.</li>
                      <li><strong>Compliance Probability</strong>: Enter the compliance value at which the
                          intervention is imposed. Compliance value ranges between 0 and 1, where 1 indicates
                          highest compliance.</li>
                  </ol>
              </li>
              <li>A minimum of 1 intervention must be added.</li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
            <form id="intvForm" class="scroll">
                <br>
                <div class="form-row">
                    <label class="form-label col-sm-6" for="intvName">
                        Name of the intervention:
                    </label>
                    <input type="text" name="intvName" value="customIntervention" required="" id="intvName">
                </div>

                <div class="form-group row" id="customIntv">
                    <div id="interv"></div>
                </div>

                <div>
                    &nbsp;
                    <button type="button" class="btn btn-info" id="intvButton">Add Intervention</button>
                </div>
                <br>

                <a class="btn btn-md btn-warning" href="{% url 'profile' %}"><i class="fa fa-angle-left"> </i> Go Back
                    to User Home</a>
                <input class="btn btn-md btn-success" type="button" id="submit" value="submit"
                    onclick="validate_and_submit()" />

            </form>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/interventions.js' %}"></script>
<script>
    var msg = "Click the 'Add Intervention' button to set-up the simulator to run a custom intervention.<br>";
    newInterv()
    $("#interv").html(msg);
    $("#interv-li").show();
    $("#customIntv").show();

    //arrays holding each intervention block's inputs
    var intvArr = [];
    var numDaysArr = [];
    var compProbArr = [];
    // var spaces = []

    //function to validate the inputs and populating the arrays
    function areInputsValid() {
        intvArr = [];
        numDaysArr = [];
        compProbArr = [];
        // spaces = []

        for (let i = 0; i < $(".interv-li").length; i++) {
            //get the inputs for each intervention block
            var interventionList = $("#mulIntv" + i).val()
            var numDaysVal = $("#numDays" + i).val()
            var compProbVal = $("#compProb" + i).val()

            var validation = ((interventionList.length > 0) && (numDaysVal.length > 0) && (compProbVal.length > 0) && (parseFloat(compProbVal) >= 0.0 && parseFloat(compProbVal) <= 1.0) && (parseInt(numDaysVal) >= 1))

            if (validation) {
                //check if the values are filled or not
                intvArr.push(interventionList);
                numDaysArr.push(parseInt(numDaysVal));
                compProbArr.push(parseFloat(compProbVal));
                // var checkedSpaces = []
                // if ($("#spaceDiv" + i + "  :checkbox:checked").length > 0) {
                //     $("#spaceDiv" + i + "  :checkbox:checked").each(function () {
                //         checkedSpaces.push(parseInt($(this).val()));
                //     });
                //     spaces.push(checkedSpaces)
                // }
                // else {
                //     spaces.push(checkedSpaces)
                // }
            }
            else {
                alert("Please check inputs are valid for the intervention block, " + i + 1 + "\n1. One or more interventions are selected. \n2. Compliance probability is a value between 0 and 1 . \n3. Number of days for applying the intervention is greater than or equal to 1.");
                return false;
            }
        }
        return true;
    }

    // Create a new list itemwhen clicking on the "Add" button
    var elemId = 0
    $("#intvButton").on('click', function () {
        elemId = newInterv(elemId)
        $('select').on('click', function () {
            var selectedOption = $(this).val();
            var eleIdx = $(this).attr('id').match(/\d+/g);
            // if (selectedOption.includes('5')) {
            //     $("#spaceDiv" + eleIdx).show()
            // }
            // else {
            //     $("#spaceDiv" + eleIdx).hide()
            // }
        })
    });

    function validate_and_submit() {
        console.log(areInputsValid())
        var IntvName=$("#intvName").val();
        IntvName = IntvName.replace(/ /g,"_");
        // var IntvNamenSpaces=myString.replace(/ /g,'_')
        if (intvArr.length> 0 && areInputsValid()){
            $.ajax({
                url:"{% url 'createIntervention' %}",
                type: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({
                    "intvName": IntvName,
                    "intvDict": intervention_json_gen(intvArr, compProbArr, numDaysArr)
                }),
                success:function(response){
                    alert("Intervention " + $("#intvName").val() + " is now added to the database. You can use this interevention in simulation jobs.\n You will be redirected to the homepage, now.")
                    window.location.href="{% url 'profile' %}"
                },
                complete:function(){},
                error:function (xhr, textStatus, thrownError){
                    alert("Error occured while adding Intervention " + $("#intvName").val() + " to the database. Please verify your inputs and try again")
                    console.log("error doing something");
                }
            });
        }
        else{
            alert("Add atleast one or more intervention blocks")
        }
    }
</script>



{% endblock %}
