{% extends 'interface/base.html' %}
{% load static %}
{% block content %}


    <h2>City-Scale Simulator</h2>
    <p>
       City-Scale Simulator is an agent-based simulator that models the disease's spread via various interaction spaces in the city.
    </p>

    <a href="{% url 'login' %}" role="button" class="btn btn-default btn-lg">Sign-in</a>
    <a href="{% url 'register' %}" role="button" class="btn btn-success btn-lg">Sign-up for City-Sim</a>
    <br>
    <br>
    <hr>
    <div class="row p-4">
        <div class="col-1 col-md">
            <a href="https://cni.iisc.ac.in" target="_blank" class="link-secondary">
                <img class="img-responsive logo" alt="CNI-IISc, Bangalore" src="{% static 'images/logos/cni.jpg' %}">
            </a>
        </div>
        <div class="col-1 col-md">
            <a href="https://iisc.ac.in" target="_blank" class="link-secondary">
                <img class="img-responsive logo" alt="IISc, Bangalore" src="{% static 'images/logos/iisc.jpg' %}">
            </a>
        </div>
    </div>




{% endblock %}
