{% extends 'interface/base.html' %}
{% load static %}
{% block content %}

    {% if message %}
        <div align="center">
            <h2>{{message}}</h2>
            <!-- <img src="{{ STATIC_URL }}/website_images/email_sent.gif">
            <p class="dribbble">Taken from: <a href="https://dribbble.com/shots/2773520-Open-An-Email" traget="_blank">dribbble.com</a></p> -->
        </div>
    {% else %}
        <div align="center">
            <form method="POST">
                <div class="form-group login-container">
                    <label for='id_email'>Please enter the e-mail with which you are registered:</label>
                    <input type="text" id='id_email' name="email" class="form-control" autofocus="1">
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
        </div>
    {% endif %}

{% endblock %}