{% extends 'interface/base.html' %}
{% load static %}
{% block content %}

    <div align="center">
        <div class="login-container">
            {% if errors %}
                <div class="alert alert-block alert-danger" align="left">
                    <ul>
                    {% for error in errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            {% if message %}
                <div align="center">
                    <h2>{{message}}</h2>
                </div>
                <div>
                    You can now
                    <a href="{% url 'login' %}">login to your account.</a>
                </div>
            {% else %}
                <div align="center">
                    <form method="POST">
                        <div class="form-group">
                            <label for='id_email'>New password:</label>
                            <input type="password" id='id_email' name="password" class="form-control" autofocus="1">
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Update</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}